RewriteEngine On
RewriteRule ^fit-call$ /fit-call/ [R=301,L]
RewriteRule ^fit-call\.html$ /fit-call/ [R=301,L]
RewriteRule ^book\.html$ /fit-call/ [R=301,L]
RewriteRule ^privacy\.html$ /privacy/ [R=301,L]
RewriteRule ^terms\.html$ /terms/ [R=301,L]
RewriteRule ^tos/?$ /terms/ [R=301,L]
RewriteRule ^faq/?$ /faq.html [R=301,L]
RewriteRule ^map-to-invoice/?$ /map-to-invoice.html [R=301,L]
RewriteRule ^cash-flow-calculator/?$ /cash-flow-calculator.html [R=301,L]
RewriteRule ^field-approval-hub/?$ /field-approval-hub.html [R=301,L]
RewriteRule ^sub-invoicing/?$ /sub-invoicing.html [R=301,L]
RewriteRule ^slack-integration/?$ /slack-integration.html [R=301,L]
RewriteRule ^rfp-tracker/?$ /rfp-tracker.html [R=301,L]

ErrorDocument 404 /404.html
